# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Streamlit cache
.streamlit/

# Generated data
data/processed/
data/raw/

# OS files
.DS_Store
Thumbs.db
